@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #4fc98e, #09512395);
}

main {
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 10px;
    box-shadow: 10px 10px 15px #0ec17f92;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #10971e8b;
    text-align: center;
    text-shadow: 1px 1px 0px #0e4814;
}

h2 {
    color: #025939;
}

p {
    text-align: justify;
}